body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #1a1a1a;
    color: #f0f0f0;
}

header {
    background-color: #003366; /* Dunkelblau */
    color: white;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus {
    background-color: #555; 
}

.form {
    background-color: #262626; 
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    width: fit-content;
  }
  
  .form fieldset {
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
  }
  
  .form legend {
    color: #f0f0f0;
    font-size: 1.2em;
  }
  
  .form p {
    color: #f0f0f0;
  }
  
  button, input[type="submit"] {
    background-color: #004488; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
  }
  
  button:hover, button:focus, input[type="submit"]:hover {
    background-color: #0066AA;
    outline: none; 
  }
  
  .form label {
    display: block; 
    margin: 10px 0 5px;
  }

  .custom-file-upload {
    background-color: #004488; /* Dunkelblau, wie im Header */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: inline-block;
  }
  
  .custom-file-upload:hover, .custom-file-upload:focus {
    background-color: #0066AA;
  }