{% extends 'restaurant/base.html' %}
{%load static%}
{% block content %}
  <h2>Restaurant-Informationen bearbeiten</h2>
  <form method="post" enctype="multipart/form-data" id="restaurantForm" class="form">
    {% csrf_token %}
    <fieldset>
      <legend>Restaurant-Details</legend>
      {{ form.as_p }}
    </fieldset>
    <button type="submit" class="save-btn">Änderungen speichern</button>
  </form>
  <h3>Vorhandene Bilder</h3>
{% for form in formset %}
    <div>
        <!-- Vorschau des Bildes, falls vorhanden -->
        {% if form.instance.image %}
            <img src="{{ form.instance.image.url }}" alt="Bild" style="max-width: 100px; max-height: 100px;">
            <!-- Button zum Löschen des Bildes -->
            <a href="{% url 'delete_image' form.instance.id %}">Bild löschen</a>
        {% endif %}
    </div>
{% endfor %}

  <h3>Bilder hochladen</h3>
  <input type="file" name="images" id="images" multiple>
  <button type="button" onclick="uploadImages()">Bilder hochladen</button>
  <div id="uploadStatus"></div>

  <script type="text/javascript">
    var restaurantId = '{{ restaurant.id }}'; // Django-Template-Variable in JavaScript-Variable übertragen

    function uploadImages() {
        var formData = new FormData();
        var images = document.querySelector('#images').files;
        var csrfToken = '{{ csrf_token }}'; // Django CSRF-Token direkt einfügen
        formData.append('csrfmiddlewaretoken', csrfToken);
        for (var i = 0; i < images.length; i++) {
            formData.append('images', images[i]);
        }

        fetch(`/restaurant/restaurant/${restaurantId}/upload_images/`, { // Verwendung der Restaurant-ID in der URL
            method: 'POST',
            body: formData,
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById("uploadStatus").innerHTML = "Upload erfolgreich!";
            // Abschlussaktionen hier
        })
        .catch((error) => {
            console.error('Error:', error);
            document.getElementById("uploadStatus").innerHTML = "Fehler beim Upload.";
        });
    }
  </script>
{% endblock %}