{% load static %}
<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{% static 'restaurant/style.css' %}" type="text/css">
    {% block title %}<title>Restaurant Reservation System</title>{% endblock %}
    {% block extra_css %}{% endblock %}
    <div class="basestyle">
    <header>
        <nav>
            <ul>
                <li><a href="/restaurant/">Startseite</a></li>
                {% if user.is_authenticated %}
                    <li><a href="/restaurant/profile">Profil anzeigen</a></li>
                    <li><a href="/restaurant/my_reservations">Meine Reservierungen</a></li>
                    <li><a href="/restaurant/logout">Abmelden</a></li>
                {% else %}
                    <li><a href="/restaurant/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
</head>
</div>
<body>
    {% if messages %}
  <div id="messages" style="display: none;">
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  </div>
{% endif %}
    {% block content %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>